<h2>Edit</h2>


<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book do |f| %>
  <label for="inputName">title</label>
  <%= f.text_field :title, autofocus: true, id:"inputName", placeholder:"名前"%>
  <label for="inputBody">Body</label>
  <%= f.text_field :body, autofocus:true, id:"inputBody",placeholder:"body" %>  
  <%= f.submit "変更を保存" %>
<% end %>