<div class="col-lg-5 px-5 mx-auto">
<h2 class =  "my-3">Editing Book</h2>


<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book do |f| %>
  <label for="inputName">Title</label><br>
  <%= f.text_field :title, autofocus: true, id:"inputName", placeholder:"名前", class:"mb-3"%><br>
  <label for="inputBody">Body</label><br>
  <%= f.text_field :body, autofocus:true, id:"inputBody",placeholder:"body", class:"mb-3"%> <br>
  <button class="btn btn-success mb-3" type="submit">Update Book</button>
  <br>
  <%= link_to "Show", book_path(@book.id) %> |
  <%= link_to "Back", books_path %>
<% end %>