<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
    <%= image_tag 'sample-author1.jpg' %>
    <%= book.user.name %>
  <% end %>
  <p>投稿ユーザー：<%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>Title= book.title %></p>
  <p>説明：<%= book.body %></p>
</div>
<% end %>